attrs==21.4.0
click==8.0.4
colorama==0.4.4
Flask==2.0.3
Flask-Cors==3.0.10
importlib-resources==5.4.0
itsdangerous==2.1.0
Jinja2==3.0.3
jsonschema==4.4.0
MarkupSafe==2.1.0
pyrsistent==0.18.1
six==1.16.0
Werkzeug==2.0.3
zipp==3.7.0