aiohttp==3.6.2
alabaster==0.7.12
altgraph==0.17
appdirs==1.4.4
asgiref==3.4.1
astroid==2.4.2
async-timeout==3.0.1
attrs==19.3.0
Babel==2.9.0
cached-property==1.5.2
certifi==2020.12.5
cffi==1.14.2
chardet==4.0.0
click==7.1.2
colorama==0.4.3
commentjson==0.9.0
commonmark==0.9.1
cryptography==3.0
cycler==0.10.0
decorator==4.4.2
discord==1.0.1
discord.py==1.3.4
distlib==0.3.1
Django==3.2.6
dnspython==1.16.0
docopt==0.6.2
docutils==0.17.1
en==0.0.1
essential-generators==1.0
fett==0.3.2
filelock==3.0.12
Flask==1.1.2
Flask-BasicAuth==0.2.0
Flask-HTTPAuth==4.1.0
future==0.18.2
fuzzywuzzy==0.18.0
idna==2.10
image==1.5.33
imagesize==1.2.0
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
jsmin==2.2.2
JSON-minify==0.3.0
jsonpath-ng==1.5.2
jsonschema==4.0.1
Kivy-Garden==0.1.4
kiwisolver==1.3.1
kraconvert==0.2
lark-parser==0.7.8
lazy-object-proxy==1.4.3
lxml==4.6.3
m2r==0.2.1
MarkupSafe==1.1.1
matplotlib==3.4.2
mccabe==0.6.1
mistune==0.8.4
multidict==4.7.6
networkx==2.5.1
numpy==1.21.0
packaging==20.9
pathtools==0.1.2
pefile==2019.4.18
Pillow==8.0.1
ply==3.11
praw==7.1.0
prawcore==1.4.0
py2puml==0.4.0
pyarmor==6.2.7
pycparser==2.20
pygame==2.0.1
Pygments==2.6.1
PyInstaller==3.6
pylint==2.5.3
pymongo==3.11.4
pyparsing==2.4.7
pyrsistent==0.18.0
PySide2==5.15.1
python-dateutil==2.8.2
python-jsonrpc-server==0.3.4
python-Levenshtein==0.12.0
pytz==2021.1
pywin32==300
pywin32-ctypes==0.2.0
PyYAML==5.4.1
recommonmark==0.7.1
requests==2.25.1
rope==0.17.0
screen-brightness-control==0.6.2
Send2Trash==1.5.0
shiboken2==5.15.1
six==1.16.0
snakeviz==2.1.0
snooty-lextudio==1.9.1.dev0
snowballstemmer==2.1.0
Sphinx==3.5.3
sphinx-rtd-theme==0.5.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sqlparse==0.4.1
toml==0.10.2
tornado==6.1
typing-extensions==3.7.4.3
update-checker==0.17
urllib3==1.26.4
virtualenv==20.2.2
watchdog==1.0.2
websocket-client==0.57.0
websockets==8.1
Werkzeug==1.0.1
WMI==1.5.1
wrapt==1.12.1
yarl==1.5.1